/* Set up background image */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", sans-serif;
  background-image: url("images/pawel-czerwinski-UBVwe1goozI-unsplash.jpg"); /* Set the background image for the container */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it takes up the full viewport height */
}

/* Set up header */
.header {
  opacity: 0.95;
  background-image: url("images/sunira-moses-DBTbXJczl48-unsplash.jpg");
  background-size: 100% 100%;
  width: 100%;
  background-repeat: no-repeat;
  min-height: 100px;
  height: auto;
  padding: 70px;
  background-color: rgb(14, 14, 51);
  color: #fff;
  text-align: center;
  background-position: center top;
  position: relative; /* Add this property for stacking context */
}

/* Set up navigation tabs */
.nav-tabs {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.nav-tab {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  margin-right: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.nav-tab:hover {
  color: lightblue;
}

.nav-tab.active {
  color: blue; /* Change the text color for the active tab */
  transition: color 0.5s; /* Add a smooth transition effect */
}

.main {
  padding: 40px;
  color: #333;
  z-index: 0; /* Ensure the main content appears below the navigation */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  flex: 1; /* Allow it to take up the remaining available space */
}
.img {
  width: 200px;
  height: auto;
}

.photo {
  text-align: center; /* Center the image horizontally */
}

.photo img {
  width: 250px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5%; /* Creates a circular image */
  margin: 0 auto; /* Center the image vertically */
}


.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Add space between the projects */
}

.project {
  flex:0 0 250px;
  background-color: white;
  background-size: 2%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  flex-basis: 250px;
  flex-shrink: 0;
  width: 40%; /* Set the width to create a two-column layout */
  margin-bottom: 20px; /* Add space between rows */
  text-align: center; /* Center the content horizontally */
  position: relative;
}

.project img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}


.huskey {
  width: 140px; /* Set the desired width */
  height: 132px; /* Set the desired height */
  object-fit: cover;
}

.project p {
  text-align: left; /* Align the text to the left */
  padding: 10px; /* Add padding to create separation */
  margin: 0; /* Remove default margin */
  max-height: auto; /* Allow the text to expand vertically as needed */
  white-space: pre-wrap; /* Allow the text to wrap naturally */
}
.huskey2 {
  width: 145px; /* Set the desired width */
  height: 130px; /* Set the desired height */
  object-fit: cover; 

}

.qgis {
  width: 90x; /* Set the desired width */
  height: 130px; /* Set the desired height */
  object-fit: cover; 
}

.spotify {
  width: 80x; /* Set the desired width */
  height: 132px; /* Set the desired height */
  object-fit: cover;

}

.h1header {
  text-align: center;
  margin-bottom: 50px;
}

.spacing {
  margin: 20px;
}
.title {
  text-align: center;
}

.intro {
  opacity: 95%;
  padding: 15px;
  border: 2px double #000;
}

h2 {
padding: 15px;
}