/* Set up background image */
body {
  margin: 0;
  padding: 0;
  font-family: "PT Serif", sans-serif;
  background-image: url("images/pawel-czerwinski-UBVwe1goozI-unsplash.jpg"); /* Set the background image for the container */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Ensure it takes up the full viewport height */
}

/* Set up header */
.header {
  opacity: 0.95;
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  padding: 70px;
  background-color: rgba(166, 87, 30, 0.81);
  color: #fff; /* Add this property for stacking context */
}

/* Set up navigation tabs */
.nav-tabs {
  display: flex;
  justify-content: center;
  text-align: center;
  z-index: 1;
}

.nav-tab {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.nav-tab:hover {
  color: lightblue;
}

.nav-tab.active {
  color: blue; /* Change the text color for the active tab */
  transition: color 0.5s; /* Add a smooth transition effect */
}

.main {
  padding: 40px;
  color: #333;
  z-index: 0; /* Ensure the main content appears below the navigation */
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
  flex: 1; /* Allow it to take up the remaining available space */
}
.img {
  width: 200px;
  height: auto;
}

.photo img {
  text-align: center;
  border-radius: 50%; /* Create a circle */
  overflow: hidden;
  width: 200px; /* Increase the width */
  height: 200px; /* Increase the height */
  object-fit: cover;
  border: 4px solid #fff; /* Increase the border thickness */
}
.photo { /* Ensure it's a perfect square to create a circle */
  text-align: center;
  border-radius: 50%; /* Create a circle */
  overflow: hidden;
}






.project-grid {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Add space between the projects */
}

.project {
  flex:0 0 250px;
  background-color: white;
  background-size: 2%;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
  flex-basis: 250px;
  flex-shrink: 0;
  width: 40%; /* Set the width to create a two-column layout */
  margin-bottom: 20px; /* Add space between rows */
  text-align: center; /* Center the content horizontally */
  position: relative;
}

.project img {
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: block; /* Remove extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}


.huskey {
  width: 140px; /* Set the desired width */
  height: 132px; /* Set the desired height */
  object-fit: cover;
}

.project p {
  text-align: left; /* Align the text to the left */
  padding: 10px; /* Add padding to create separation */
  margin: 0; /* Remove default margin */
  max-height: auto; /* Allow the text to expand vertically as needed */
  white-space: pre-wrap; /* Allow the text to wrap naturally */
}
.huskey2 {
  width: 145px; /* Set the desired width */
  height: 130px; /* Set the desired height */
  object-fit: cover; 

}

.qgis {
  width: 90x; /* Set the desired width */
  height: 130px; /* Set the desired height */
  object-fit: cover; 
}

.spotify {
  width: 80x; /* Set the desired width */
  height: 132px; /* Set the desired height */
  object-fit: cover;

}

.h1header {
  text-align: center;
  margin-bottom: 50px;
}

.spacing {
  margin: 20px;
}
.title {
  text-align: center;
}

.intro {
  opacity: 95%;
  padding: 15px;
}

h2 {
  padding: 10px;
  }

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }

}

.transition {
  animation: fade-in ms; /* Use the animation with a duration of 1.5 seconds */
}

.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgb(8, 5, 5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 5s;
  animation: fadeOut 4s cubic-bezier(0.42, 0, 0.58, 1);

}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px; /* Adjust the desired width */
  height: 80px; /* Adjust the desired height */ /* Background color if necessary */
}
.loader img {
    width: 10x; /* Adjust the logo width */
    height: 10px; /* Adjust the logo height */
  }


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.fa-brands {
  font-size: 30px;
  color: black ;

}

footer {
  font-size: 20px;
  padding: 20px;
}